# Battery
CONFIG_MTK_BATTERY_CVR_SUPPORT=y

# Camera
CONFIG_CUSTOM_KERNEL_IMGSENSOR="ov2724_mipi_raw ov2722_mipi_raw hi704_yuv ov9724_mipi_raw s5k5e2ya_mipi_raw"
CONFIG_MTK_IMGSENSOR_HI704YUV_SUPPORT=y
CONFIG_MTK_IMGSENSOR_OV2722MIPIRAW_SUPPORT=y
CONFIG_MTK_IMGSENSOR_OV2724MIPIRAW_SUPPORT=y

# Device
CONFIG_BUILD_ARM_APPENDED_DTB_IMAGE_NAMES="mt8135-ariel"
CONFIG_ARCH_MTK_PROJECT="mt8135_ariel"

# HDMI
CONFIG_SLIMPORT_ANX3618=y
CONFIG_MTK_HDMI_SUPPORT=y
CONFIG_MTK_INTERNAL_HDMI_SUPPORT=y
CONFIG_MTK_HDMI_HDCP_SUPPORT=y

# MMC
CONFIG_MMC_SAMSUNG_SMART=y

# Sensors
CONFIG_INVENSENSE_MPU6515=y

# Wi-Fi
CONFIG_MTK_WAPI_SUPPORT=y
CONFIG_MTK_COMBO_CHIP_MT6628=y
CONFIG_MTK_WLAN_CHIP="MT6628"
