# Camera
CONFIG_CUSTOM_KERNEL_IMGSENSOR="ov9724_mipi_raw s5k5e2ya_mipi_raw"
CONFIG_MTK_SENINF_MIPI_ISR_SUPPORT=y

# Device
CONFIG_BUILD_ARM_APPENDED_DTB_IMAGE_NAMES="mt8135-thebes"
CONFIG_ARCH_MTK_PROJECT="mt8135_thebes"
CONFIG_MT8135_CPU_SN=y
CONFIG_MT8135_THEBES=y

# MMC
# CONFIG_MMC_SAMSUNG_SMART is not set

# Sensors
CONFIG_INVENSENSE_ICM20645=y
CONFIG_SENSOR_DEBUGFS=y

# Touch
CONFIG_TOUCHSCREEN_ATMEL_MXT=y

# WFD
CONFIG_MTK_SEC_WFD_VIDEO_PATH_SUPPORT=y

# Wi-FI
CONFIG_SDIOAUTOK_SUPPORT=y
CONFIG_MTK_COMBO_CHIP_MT6630=y
CONFIG_MTK_WLAN_CHIP="MT6630"
